.discover-results-header
    .discover-results-header-inner
        .title
            tg-svg(svg-icon="icon-search")
            h2(translate='DISCOVER.SEARCH.RESULTS')

        .filter-discover-search()
            a.discover-search-filter(
                (click)="openLike()",
                [class.active]="like_is_open"
            )
                tg-svg(svg-icon="icon-like")
                span(translate='DISCOVER.MOST_LIKED')
            a.discover-search-filter(
                (click)="openActivity()",
                [class.active]="activity_is_open"
            )
                tg-svg(svg-icon="icon-activity")
                span(translate='DISCOVER.MOST_ACTIVE')

    .discover-search-subfilter.most-liked-subfilter(*ngIf="like_is_open")
        a.results(
            [title]="'DISCOVER.FILTERS.CLEAR' | translate",
            (click)="setOrder()",
            translate='DISCOVER.FILTERS.CLEAR'
        )

        ul.filter-list
            li
                a(
                    [class.active]="orderBy == '-total_fans_last_week'",
                    (click)="setOrder('-total_fans_last_week')",
                    translate='DISCOVER.FILTERS.WEEK'
                )
            li
                a(
                    [class.active]="orderBy == '-total_fans_last_month'",
                    (click)="setOrder('-total_fans_last_month')",
                    translate='DISCOVER.FILTERS.MONTH'
                )
            li
                a(
                    [class.active]="orderBy == '-total_fans_last_year'",
                    (click)="setOrder('-total_fans_last_year')",
                    translate='DISCOVER.FILTERS.YEAR'
                )
            li
                a(
                    [class.active]="orderBy == '-total_fans'",
                    (click)="setOrder('-total_fans')",
                    translate='DISCOVER.FILTERS.ALL_TIME'
                )

    .discover-search-subfilter.most-active-subfilter(*ngIf="activity_is_open")
        a.results(
            [title]="'DISCOVER.FILTERS.CLEAR' | translate",
            (click)="clearOrder()",
            translate='DISCOVER.FILTERS.CLEAR'
        )

        ul.filter-list
            li
                a(
                    [class.active]="orderBy == '-total_activity_last_week'",
                    (click)="setOrder('-total_activity_last_week')",
                    translate='DISCOVER.FILTERS.WEEK'
                )
            li
                a(
                    [class.active]="orderBy == '-total_activity_last_month'",
                    (click)="setOrder('-total_activity_last_month')",
                    translate='DISCOVER.FILTERS.MONTH'
                )
            li
                a(
                    [class.active]="orderBy == '-total_activity_last_year'",
                    (click)="setOrder('-total_activity_last_year')",
                    translate='DISCOVER.FILTERS.YEAR'
                )
            li
                a(
                    [class.active]="orderBy == '-total_activity'",
                    (click)="setOrder('-total_activity')",
                    translate='DISCOVER.FILTERS.ALL_TIME'
                )
