form
    div.row.table-main.edition.hidden
        div.color-column(
            tg-color-selection,
            ng-model="value"
        )
            div.current-color(ng-style="{background: status.color}")
            include ../../components/select-color

        div.status-name
            input(
                name="name",
                type="text",
                [placeholder]="'ADMIN.STATUS.PLACEHOLDER_WRITE_STATUS_NAME' | translate",
                data-required="true",
                data-maxlength="255"
            )

        div.is-closed-column
            select(
                name="is_closed"
                ng-model="status.is_closed"
                data-required="true"
                ng-options="e.id as e.name | translate for e in [{'id':true, 'name':'COMMON.YES'},{'id':false, 'name': 'COMMON.NO'}]")

        div.options-column
            a.save.e2e-save(href="", title="{{'COMMON.SAVE' | translate}}")
                tg-svg(svg-icon="icon-save")

            a.cancel(href="", title="{{'COMMON.CANCEL' | translate}}")
                tg-svg.cancel(svg-icon="icon-close")
