form([class.hidden]="!visible")
    div.row.table-main.edition
        div.custom-name
            input(
                #nameInput,
                name="name",
                type="text",
                [value]="value?.get('name')",
                [placeholder]="'ADMIN.CUSTOM_ATTRIBUTES.SET_FIELD_NAME' | translate"
                data-required="true",
                data-maxlength="255"
            )

        div.custom-description
            input(
                #descriptionInput,
                name="description",
                type="text",
                [value]="value?.get('description')",
                [placeholder]="'ADMIN.CUSTOM_ATTRIBUTES.SET_FIELD_DESCRIPTION' | translate",
                data-required="true",
                data-maxlength="255"
            )

        div.custom-field-type
            select
                option(*ngFor="let type of customFieldTypes", value="type.key") {{ type.name }}

        div.options-column
            a.save.e2e-save(href="", [title]="'COMMON.SAVE' | translate")
                tg-svg(svg-icon="icon-save")

            a.cancel((click)="cancel.emit(value?.get('id'))", [title]="'COMMON.CANCEL' | translate")
                tg-svg.cancel(svg-icon="icon-close")
