div.discover-header
    div.discover-header-inner

        h1.title(translate='DISCOVER.DISCOVER_TITLE')

        p.project-number(
            *ngIf="projectsCount",
        ) {{ 'DISCOVER.DISCOVER_SUBTITLE' | translate | messageformat:{projects: projectsCount} }}
        form((ngSubmit)="submitFilter()" #searchForm="ngForm")
            div.searchbox
                input(
                    name="search"
                    type="text"
                    placeholder="{{ 'DISCOVER.SEARCH.INPUT_PLACEHOLDER' | translate }}"
                    [(ngModel)]="q"
                )
                tg-svg.search-button(
                    ng-click="submitFilter()"
                    svg-icon="icon-search"
                    svg-title-translate="DISCOVER.SEARCH.ACTION_TITLE"
                )

            fieldset.searchbox-filters(*ngIf="filter")
                input(
                    type='radio'
                    id="filter-all"
                    name="filter-search"
                    [(ngModel)]="filter"
                )
                label(
                    for="filter-all"
                    "[class.active]"="filter == 'all'",
                    (click)="filter = 'all'"
                ) {{ 'DISCOVER.FILTERS.ALL' | translate }}

                input(
                    type='radio'
                    id="filter-kanban"
                    name="filter-search"
                    [(ngModel)]="filter"
                )
                label(
                    for="filter-kanban"
                    "[class.active]"="filter == 'kanban'",
                    (click)="filter = 'kanban'"
                ) {{ 'DISCOVER.FILTERS.KANBAN' | translate }}

                input(
                    type='radio'
                    id="filter-scrum"
                    name="filter-search"
                    [(ngModel)]="filter"
                )
                label(
                    for="filter-scrum"
                    "[class.active]"="filter == 'scrum'",
                    (click)="filter = 'scrum'"
                ) {{ 'DISCOVER.FILTERS.SCRUM' | translate }}

                input(
                    type='radio'
                    id="filter-people"
                    name="filter-search"
                    [(ngModel)]="filter"
                )
                label(
                    for="filter-people"
                    "[class.active]"="filter == 'people'",
                    (click)="filter = 'people'"
                ) {{ 'DISCOVER.FILTERS.PEOPLE' | translate }}
