a.user-avatar(
    tg-nav, name="profile",
    title="{{ user.get('full_name_display') }}"
    ) {{ user.get('full_name_display') }}
    tg-avatar([user]="user")

div.navbar-dropdown.dropdown-user
    ul
        li
            a(
                tg-nav, name="profile",
                title="{{'PROJECT.NAVIGATION.VIEW_PROFILE_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.VIEW_PROFILE")
        li
            a(
                tg-nav, name="user-settings-user-profile",
                href="#",
                title="{{'PROJECT.NAVIGATION.EDIT_PROFILE_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.EDIT_PROFILE")

        li.plugin(*ngFor="let plugin of userSettingsPlugins")
            a(
                tg-nav, name="user-settings-contrib", [params]="{plugin: plugin.slug}",
                href=""
                ng-class="{active: plugin.slug == currentPlugin.slug}"
            )
                span.title {{ plugin.name }}
        li
            a(
                tg-nav name="user-settings-user-change-password",
                href="#",
                title="{{'PROJECT.NAVIGATION.CHANGE_PASSWORD_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.CHANGE_PASSWORD")

        li
            a(
                tg-nav, name="user-settings-mail-notifications",
                href="#",
                title="{{'PROJECT.NAVIGATION.NOTIFICATIONS_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.NOTIFICATIONS")

        li(*ngIf="isFeedbackEnabled")
            a(
                href="#",
                (click)="sendFeedback()",
                title="{{'PROJECT.NAVIGATION.FEEDBACK_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.FEEDBACK")
        li
            a(
                href="https://tree.taiga.io/support/",
                target="_blank",
                title="{{'PROJECT.NAVIGATION.HELP_TITLE' | translate}}",
                translate="PROJECT.NAVIGATION.HELP")
        li
            a(
                href="#",
                (click)="logout()",
                title="{{'COMMON.LOGOUT' | translate}}",
                translate="COMMON.LOGOUT")
