.create-project
    ng-container(*ngIf="type === 'scrum'")
        .create-project-title-wrapper
            tg-svg(svg-icon="icon-scrum")
            h1.create-project-title(translate="PROJECT.CREATE.TEMPLATE_SCRUM")
        h3.create-project-description(
            translate="PROJECT.CREATE.TEMPLATE_SCRUM_DESC"
        )

    ng-container(*ngIf="type === 'kanban'")
        .create-project-title-wrapper
            tg-svg(svg-icon="icon-kanban")
            h1.create-project-title(translate="PROJECT.CREATE.TEMPLATE_KANBAN")
        h3.create-project-description(
            translate="PROJECT.CREATE.TEMPLATE_KANBAN_DESC"
        )

    form(*ngIf="!deleting", (ngSubmit)="onSubmit()", [formGroup]="projectForm", novalidate)
        tg-create-project-form-name([form]="projectForm.controls.name")
        tg-create-project-form-description([form]="projectForm.controls.description")
        tg-create-project-form-privacy([form]="projectForm.controls.privacy")

        tg-create-project-restrictions(
            is-private="projectForm.value.is_private"
            can-create-public-projects="vm.canCreatePublicProjects"
            can-create-private-projects="vm.canCreatePrivateProjects"
        )

        tg-create-project-form-actions([form]="projectForm", (cancel)="cancelCreation()")
