nav.navbar(*ngIf="isEnabledHeader")
    div.nav-left
        a.logo(
            *ngIf="user.isEmpty()",
            href="https://taiga.io/",
            title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
        )
            include ../../svg/logo.svg

        a.logo(
            tg-nav, name="home",
            *ngIf="!user.isEmpty()",
            href="#",
            title="{{'PROJECT.NAVIGATION.HOMEPAGE' | translate}}"
        )
            include ../../svg/logo.svg

        a(
            href="https://tree.taiga.io/support/",
            target="_blank",
            title="{{'PROJECT.NAVIGATION.HELP_TITLE' | translate}}",
            translate="PROJECT.NAVIGATION.HELP"
        )

    div.nav-right(*ngIf="user.isEmpty()")
        a.login(
            (click)="login()",
            href="#",
            title="{{ 'LOGIN_COMMON.ACTION_SIGN_IN' | translate }}",
            translate="LOGIN_COMMON.ACTION_SIGN_IN"
        )
        a.register(
            tg-nav, name="register",
            *ngIf="publicRegisterEnabled",
            href="#",
            title="{{ 'REGISTER_FORM.ACTION_SIGN_UP' | translate }}",
            translate="REGISTER_FORM.ACTION_SIGN_UP"
        )

    div.nav-right(*ngIf="!user.isEmpty()")
        a(
            tg-nav, name="home",
            "[class.active]"="active",
            title="{{'PROJECT.NAVIGATION.DASHBOARD_TITLE' | translate}}"
        )
            tg-svg(svg-icon="icon-dashboard")

        // tg-nav, name="discover",
        a(
            routerLink="/discover",
            title="{{'PROJECT.NAVIGATION.DISCOVER_TITLE' | translate}}",
        )
            tg-svg(svg-icon="icon-discover")

        tg-dropdown-project-list.topnav-dropdown-wrapper(*ngIf="projects.size", [projects]="projects")
        tg-dropdown-user.topnav-dropdown-wrapper([user]="user")
