// tg-attachments-drop="vm.addAttachments(files, false)"
// ng-show="vm.showAttachments()"
section.attachments()
    .attachments-header
        h3.attachments-title #[span.attachments-num {{attachments.size}}] #[span.attachments-text(translate="ATTACHMENT.SECTION_NAME")]
        .options
            button.view-gallery(
                [class.is-active]="mode == 'gallery'",
                *ngIf="attachments.size",
                (click)="setMode('gallery')",
                [title]="'ATTACHMENT.GALLERY_VIEW_MODE' | translate"
            )
                tg-svg(svg-icon="icon-gallery")
            button.view-list(
                [class.is-active]="mode == 'list'",
                *ngIf="attachments.size",
                (click)="setMode('list')",
                [title]="'ATTACHMENT.LIST_VIEW_MODE' | translate"
            )
                tg-svg(svg-icon="icon-list")

            //tg-check-permission="modify_{{vm.type}}"
            .add-attach(
                [title]="'ATTACHMENT.ADD' | translate"
            )

                label.add-attachment-button(for="add-attach")
                    tg-svg(svg-icon="icon-add")

                input(
                    id="add-attach",
                    type="file",
                    multiple="multiple",
                    tg-file-change="vm.addAttachments(files, true)"
                )

    // .attachments-empty(*ngIf="!attachments.size && !uploadingAttachments().length")
    //     div(translate='ATTACHMENT.DROP')

    .attachment-list.sortable(*ngIf="mode == 'list'")
        // tg-attachments-sortable="vm.reorderAttachment(attachment, index)"
        div
          div(*ngFor="let attachment of attachments")
            // (delete)="deleteAttachment(attachment)",
            // (update)="updateAttachment(attachment)",
            tg-attachment(
                *ngIf="deprecatedsVisible || !attachment.get('is_deprecated') ",
                [attachment]="attachment",
                type="type"
            )

        //   .single-attachment(*ngFor="let file of uploadingAttachments()")
        //       .attachment-name
        //           tg-svg(svg-icon="icon-attachment")
        //           span {{file.name}}
        //       .attachment-size
        //           span {{file.size | sizeFormat}}
        //       .attachment-comments
        //           span {{file.progressMessage}}
        //           .percentage([style.width]="file.progressPercent")
        //
        a.more-attachments(
          [title]="'ATTACHMENT.SHOW_DEPRECATED' | translate",
          *ngIf="deprecateds.size > 0",
          (click)="toggleDeprecatedsVisible()"
        )
            span.text(
              *ngIf="!deprecatedsVisible",
              translate="ATTACHMENT.SHOW_DEPRECATED"
            )
            span.text(
              *ngIf="deprecatedsVisible",
              translate="ATTACHMENT.HIDE_DEPRECATED"
            )
            span.more-attachments-num(
              translate="ATTACHMENT.COUNT_DEPRECATED",
              [translateParams]="{counter: deprecateds.size}"
            )
//
//     .attachment-gallery(*ngIf="vm.mode == 'gallery'")
//         tg-attachment-gallery.attachment-gallery-container(
//             tg-repeat="attachment in vm.attachmentsVisible track by attachment.getIn(['file', 'id'])"
//             attachment="attachment",
//             on-delete="vm.deleteAttachment(attachment)",
//             on-update="vm.updateAttachment(attachment)",
//             type="vm.type"
//         )
//         .single-attachment(ng-repeat="file in vm.uploadingAttachments()")
//             .loading-container
//                 img.loading-spinner(
//                     src="/#{v}/svg/spinner-circle.svg",
//                     alt="{{'COMMON.LOADING' | translate}}"
//                 )
//             .attachment-data {{file.progressMessage}}
//
// tg-attachments-preview.lightbox.lightbox-block(
//     ng-show="vm.showAttachments()",
//     attachments="vm.attachments"
// )
